*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(to top, #E5E3C9, #CDB699);
  min-height: 100vh;
  color: #362706;
  min-width: 300px;
  animation-name: fade-in;
  animation-timing-function: linear;
  animation-duration: 1s;
}

@keyframes fade-in {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
}

.burger{
  display: none;
  position: relative;
  width: 35px;
  height: 29px;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: #362706;
  margin: 5px;
  transition: transform 0.5s ease-in;
  position: relative;
}

.logo{
  font-family: 'Antic Didone', serif;
  font-weight: bold;
  font-size: clamp(24px, 2.3vw, 32px);
  margin-left: 5%;
}

.nav-item{
  display: inline-block;
  margin: 5px 10px;
}

.nav-link:hover{
  background: rgba(255, 255, 255, 0.3);
}

.nav-link{
  color: #362706;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  padding: 5px;
  border-radius: 5px;
}

.nav-wrapper{
  position: relative;
  right: 5%;
  display: inline-block;
}

.nav-link-active{
  background: rgb(255, 255, 255);
}

.input-form-wrapper{
  margin: 30px;
  text-align: center;
}

.input-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.form-wrapper{
  display: flex;
  justify-content: center;
}

.input-text{
  font-family: 'Open Sans', sans-serif;
  height: clamp(40px, 9vh, 60px);
  width: clamp(135px, 15vw, 240px);
  border: none;
  padding: 0 5px;
  border-radius: 15px;
  margin: 15px;
  font-size: clamp(18px, 1.55vw, 20px);
  background-color: #E9E5D6;
  color: #362706;
  border-width: 0px;
  outline:none;
}

.form-heading h3, .body-heading h3{
  font-family: 'Open Sans', sans-serif;
  font-size: clamp(20px, 1.8vw, 25px);
}

.form-heading, .body-heading{
  text-align: center;
  margin: 15px;
}

.guitar-img{
  width: 100px;
}

@keyframes music-list-animation {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.btn{
  height: clamp(40px, 9vh, 60px);
  width: clamp(135px, 15vw, 240px);
  border: none;
  border-radius: 15px;
  margin: 15px;
  font-size: clamp(18px, 1.55vw, 20px);
  background-color: #E9E5D6;
  color: #362706;
  font-family: 'Open Sans', sans-serif;
}

.btn:hover{
  background-color: #362706;
  color: #E9E5D6;
  animation-name: music-list-animation;
  animation-duration: 0.7s;
  animation-timing-function: linear;
}

.body{
  text-align: center;
  color: #362706;
  font-family: 'Open Sans', sans-serif;
}

.content-hidden{
  display: block !important;
  margin: 20px;
  padding: 10px;
  text-align: center;
}

.content{
  display: none;
}

.content h4{
  font-size: clamp(15px, 1.55vw, 20px);
}

.picture-hidden{
  display: none;
}

.picture{
  height: 250px;
  width: 250px;
  margin: 15px 0;
  border-radius: 20px;
  filter: drop-shadow(5px 5px 5px);
}

.biography-wrapper{
  /* max-width: 550px; */
  width: clamp(245px, 60vw, 850px);
  margin: 15px auto;
}

.biography{
  font-size: clamp(14px, 1.7vw, 26px);
}

@media screen and (max-width: 720px) {
  .burger{
    display: inline;
    z-index: 5;
  }

  .nav-list{
    visibility: hidden;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0;
    height: 100vh;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #362706;
    z-index: 5;
    width: 100vw;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }

  .nav-link{
    color: #362706;
    font-weight: bold;
    font-size: clamp(16px, 2.5vw, 24px);
    letter-spacing: 10px;
  }
}

.nav-list-active{
  visibility: visible;
}

.nav-active{
  transform: translateX(0%);
}

.line-1-active{
  top: 4px;
  transform: rotate(-45deg);
  z-index: 5;
}

.line-3-active{
  bottom: 4px;
  transform: rotate(45deg);
  z-index: 5;
}

.line-2-active{
  display: none;
}

.input-form-wrapper-active{
  filter: blur(5px);
}

.body-wrapper-active{
  filter: blur(15px);
}

@media screen and (max-width: 460px) {
  .input-form-wrapper{
    margin: 30px 10px;
  }

  .form-wrapper{
    flex-direction: column;
    align-items: center;
  }

  .guitar-img{
    transform: rotate(-90deg);
    width: 80px;
    margin: 0
    padding: 0;
  }

  .picture{
    height: 200px;
    width: 200px;
    margin: 15px 0;
    border-radius: 20px;
    filter: drop-shadow(5px 5px 5px);
  }
}
