*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(to top, #E5E3C9, #CDB699);
  min-height: 100vh;
  color: #362706;
  min-width: 300px;
  animation-name: fade-in;
  animation-timing-function: linear;
  animation-duration: 1s;
}

@keyframes fade-in {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
}

.burger{
  display: none;
  position: relative;
  width: 35px;
  height: 29px;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: #362706;
  margin: 5px;
  transition: transform 0.5s ease-in;
  position: relative;
}

.logo{
  font-family: 'Antic Didone', serif;
  font-weight: bold;
  font-size: clamp(24px, 2.3vw, 32px);
  margin-left: 5%;
}

.nav-item{
  display: inline-block;
  margin: 5px 10px;
}

.nav-link:hover{
  background: rgba(255, 255, 255, 0.3);
}

.nav-link{
  color: #362706;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  padding: 5px;
  border-radius: 5px;
}

.nav-wrapper{
  position: relative;
  right: 5%;
  display: inline-block;
}

.nav-link-active{
  background: rgb(255, 255, 255);
}

.container-wrapper{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.left-container{
  /* position: relative; */
  width: 50vw;
  min-height: 100vh;
  min-width: 300px;
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.right-container{
  width: 50vw;
  min-height: 100vh;
  min-width: 300px;
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.music-nav{
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.music-nav-list{
  list-style: none;
}

.music-nav-item{
  display: inline-block;
  margin: 10px 5px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.music-nav-item:hover{
  background: rgba(255, 255, 255, 0.3);
}

.music-toggle{
  display: none;
}

@keyframes music-list-animation {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.link-clicked{
  background-color: #fff;
  color: #000;
  animation-name: music-list-animation;
  animation-duration: 1s;
  animation-timing-function: linear;
}

.audio-wrapper{
  margin: 20px 0;
  padding: 5px 5px 15px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  text-align: center;
}

.song-title{
  margin: 10px;
  font-size: clamp(18px, 1.55vw, 22px);
  font-family: 'Open Sans', sans-serif;
}

.right-wrapper{
  min-width: 300px;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-top: 20px;
}

.genre-btn, .idea-btn{
  height: clamp(40px, 9vh, 60px);
  width: clamp(135px, 15vw, 240px);
  margin: 15px;
  font-size: clamp(18px, 1.55vw, 20px);
  border: none;
  border-radius: 10px;
  color: #362706;
  background-color: #E9E5D6;
}

.genre-btn:hover, .idea-btn:hover{
  background-color: #362706;
  color: #E9E5D6;
  animation-name: music-list-animation;
  animation-duration: 0.7s;
  animation-timing-function: linear;
}

.genre-name-hidden, .idea-name-hidden{
  margin: 15px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.4);
  height: 100px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(18px, 1.55vw, 22px);
}

.genre-wrapper, .idea-wrapper{
  margin: 30px 10px;
  padding: 10px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.2);
}

.genre-wrapper p, .idea-wrapper p{
  font-size: clamp(20px, 1.8vw, 26px);
}

.rock-list, .folk-list, .metal-list{
  text-align: center;
  animation-name: music-list-animation;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}

.rock-list::before{
  content: "--ROCK--";
  font-size: clamp(22px, 2vw, 32px);
  letter-spacing: 10px;
  margin: 15px;
  font-family: 'Open Sans', sans-serif;
}

.folk-list::before{
  content: "--FOLK--";
  font-size: clamp(22px, 2vw, 32px);
  letter-spacing: 10px;
  margin: 15px;
  font-family: 'Open Sans', sans-serif;
}

.metal-list::before{
  content: "--METAL--";
  font-size: clamp(22px, 2vw, 32px);
  letter-spacing: 10px;
  margin: 15px;
  font-family: 'Open Sans', sans-serif;
}

.disc-img{
  height: 200px;
  width: 200px;
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  0%   {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@media screen and (max-width: 720px) {
  .burger{
    display: inline;
    z-index: 5;
  }

  .nav-list{
    visibility: hidden;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0;
    height: 100vh;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #362706;
    z-index: 5;
    width: 100vw;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }

  .nav-link{
    color: #362706;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 10px;
  }
}

.nav-list-active{
  visibility: visible;
}

.nav-active{
  transform: translateX(0%);
}

.line-1-active{
  top: 4px;
  transform: rotate(-45deg);
  z-index: 5;
}

.line-3-active{
  bottom: 4px;
  transform: rotate(45deg);
  z-index: 5;
}

.line-2-active{
  display: none;
}

.container-wrapper-active{
  filter: blur(15px);
}

@media screen and (max-width: 400px) {
  .audio-wrapper{
    margin: 0;
    padding: 5px 0;
  }
}

@media screen and (max-width: 550px) {
  .disc-img{
    height: 150px;
    width: 150px;
  }
}
